@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* Slate 900 */
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
